##########################
# Working Vivado Project #
##########################
#
# Do not version control the generated Vivado project

amdc/
*.log
*.jou

#######
# SRC #
#######

# Keep only base source files
hw/*
!hw/design_1.bd
!hw/design_1_wrapper.v
!hw/constraints_amdc_revc.xdc


#######
# SDK #
#######

Packages/

sdk/.metadata/
sdk/.sdk/

sdk/webtalk/
sdk/RemoteSystemsTempFiles/
sdk/system.hdf_expanded/
sdk/RemoteSystemsTempFiles/

sdk/amdc_bsp/
sdk/fsbl/
sdk/design_1_wrapper_hw_platform_*/

sdk/**/Debug/
sdk/**/Release/

sdk/*.hdf

sdk/**/*.bit
sdk/**/*.a
sdk/**/*.o
sdk/**/*.d

**/bootimage/


##########
# Python #
##########
scripts/__pycache__/
**/.ipynb_checkpoints/
