##########################
# Working Vivado Project #
##########################
#
# Do not version control the generated Vivado project

amdc/
*.log
*.jou

#######
# SRC #
#######

# Keep only base source files
hw/*
!hw/design_1.bd
!hw/design_1_wrapper.v
!hw/constraints_amdc_revc.xdc


#######
# SDK #
#######


sdk/.metadata/
sdk/.sdk/

sdk/webtalk/
sdk/system.hdf_expanded/

sdk/**/Debug/
sdk/**/Release/

sdk/*.hdf

sdk/**/*.bit
sdk/**/*.a
sdk/**/*.o
sdk/**/*.d

**/bootimage/


##########
# Python #
##########
scripts/__pycache__/
